*
{
	padding: 0;
	margin:  0;
}

body
{
	background: #F2F2F2;
}

.checkbox_container
{
	position: absolute;
	top: 50%;
	left: 50%;
}

.checkmark
{
	display: block;
	width: 80px;
	height: 80px;
	background: #ddd;
	border-radius: 10px;
	position: relative;
	transition: background-color, 0.4s;
}

#check:checked ~ .checkmark {

	background-color: #08bb68;
}

#check:checked ~ .checkmark::after {

	opacity: 1;
	transform: translate(-50%, -50%) rotateZ(40deg) scale(1);
}

.checkmark::after
{
	content: "";
	position: absolute;
	width: 25px;
	height: 45px;
	border-right: 5px solid white;
	border-bottom: 5px solid white;
    top:  40%;
    left: 50%;
    transform: translate(-50%, -50%) rotateZ(40deg) scale(2);
    opacity: 0;
    transition: all .4s;
}

